<?xml version="1.0"?>

<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-RepoWebsite-829c0abc-62f5-4a17-b140-50908f9753e3;AttachDbFilename=|DataDirectory|\aspnet-RepoWebsite-829c0abc-62f5-4a17-b140-50908f9753e3.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn"
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
